@font-face {
    font-family: Inter-Variable;
    src: url(@/assets/styles/fonts/Inter/Inter-VariableFont_opsz,wght.ttf);
    font-display: swap;
}

@font-face {
    font-family: Inter-Italic;
    src: url(@/assets/styles/fonts/Inter/Inter-Italic-VariableFont_opsz,wght.ttf);
    font-display: swap;
}